
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body class="loggedin">
		<div class="container-fluid">
			<!-- top nav bar -->
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
				<a class="navbar-brand" href="#">
					<i class="fas fa-cogs" width="30" height="30"></i>  Proposal Experiments v1.2</a>
				<span class="navbar-text">
					<h5>{% block pagename %}{% endblock %}</h5>
				</span>
				<ul class="navbar-nav ">
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i>  Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>  Profile</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('admin') }}"><i class="fas fa-user-cog"></i>  Admin</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>  Logout</a>
				  </li>
				</ul>
			</nav>
			<!-- display error messages -->
			<div class="container-sm">
				{% from 'bootstrap/utils.html' import render_messages %}
				{{ render_messages(dismissible=True) }}
			</div>
			<!-- content -->
			{% block content %}{% endblock %}
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>