{% extends 'layout.html' %}

{% block pagename %}Profile{% endblock %}


{% block content %}
<!--header-->
<div class="container-fluid p-3 my-3 bg-primary text-white">
    <p>Welcome <b>{{ username }}</b> your account details are below</p>
</div>
<!--content-->
<div>
    <table>
        <tr>
            <td>Fist Name:</td>
            <td>{{ account.FirstName}}</td>           
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{ account.LastName }}</td>           
        </tr>
        <tr>
            <td>User Name:</td>
            <td>{{ account.UserName }}</td>           
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account.EmailAddress }}</td>
        </tr>
    </table>
</div>

{% endblock %}